.aboutMe {
  position: relative;
  background: linear-gradient(#1a2e47, #f0655e 50%);
  height: auto;
}
.who {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 8em;
  color: white;
  text-align: left;
  text-transform: uppercase;
}
.who-p {
  font-family: "roberto", sans-serif;
  color: #fff;
}

.what-p {
  font-family: "roberto", sans-serif;
  color: #fff;
}
@media only screen and (max-width: 980px) {
  .who {
    font-size: 4em;
  }
  .what {
    font-size: 4em;
  }
}
@media only screen and (max-width: 1350px) {
  .aboutMe {
    margin-bottom: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
