.work {
  height: 250vh;
  background: linear-gradient(90deg, #fdb376, #f9644b);
  overflow: hidden;
}
.work-heading {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 8em;
  padding-top: 1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.work-wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  top: 10em;
  justify-content: space-evenly;
  /* overflow: hidden; */
}

.row {
  padding: 2em;
}
.row2 {
  padding: 2em;
}
.work-photo {
  /* margin-left: 10%; */
  border-radius: 20px 0;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9);
}
.TMtext {
  width: 85%;
  height: 60%;
  font-family: "roberto", sans-serif;
  color: #fff;
  margin-left: 5em;
  text-align: center;
}

.TMa-wrapper {
  min-width: 500px;
  width: 50%;
  height: 100%;
  padding-bottom: 2em;
  margin-left: 25%;
}
@media only screen and (max-width: 1230px) {
  .TMa-wrapper {
    min-width: 400px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .TMa-wrapper {
    margin-left: auto;
    min-width: 300px;
    margin-left: auto;
  }
}

@media only screen and (max-width: 950px) {
  .work {
    height: 300vh;
  }
  .TMtext {
    margin-left: 0;
  }
}

@media only screen and (max-width: 420px) {
  .work {
    height: 370vh;
  }
  .TMtext {
    margin-left: 0;
  }
}

@media only screen and (max-width: 320px) {
  .work {
    height: 500vh;
  }
  .TMtext {
    margin-left: 0;
  }
}
.work-text {
  font-family: "roberto", sans-serif;
  color: #fff;
  text-align: center;
}
.centerBtn {
  text-align: center;
}
.view {
  font-family: "roberto", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background: transparent;
  border-style: solid;
  border-width: 5px;
  border-color: #f0655e;
  border-radius: 2px;
  margin: 0.75rem;
  padding: 16px 32px;
  min-width: 12.5rem;
  transition: background 0.3s, color 0.3s;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.view:hover {
  background-color: #f0655e;
}
.github {
  color: blue;
}
