.work {
  height: 240vh;
  background: linear-gradient(90deg, rgb(253, 141, 13), rgb(255, 221, 27));
  overflow: hidden;
}
.work-heading {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 8em;
  padding-top: 1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.work-wrapper {
  position: relative;
  /* height: 100%; */
  width: auto;
  top: 10em;

  /* overflow: hidden; */
}
.image-TM {
  position: relative;
  height: 200px;
  width: auto;
}

.row {
  padding: 2em;
}
.row2 {
  padding: 2em;
}
.work-photo {
  border-radius: 20px 0;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9);
}
.work-text {
  font-family: "roberto", sans-serif;
  color: #fff;
  text-align: center;
}
.centerBtn {
  text-align: center;
}
.view {
  font-family: "roberto", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background: transparent;
  border-style: solid;
  border-width: 5px;
  border-color: #f0655e;
  border-radius: 2px;
  margin: 0.75rem;
  padding: 16px 32px;
  min-width: 12.5rem;
  transition: background 0.3s, color 0.3s;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.view:hover {
  background-color: #f0655e;
}
